# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
nums=[1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [5]:
# Method 1 
nums = [1,2,3,4]
x=nums.pop(2)
nums

[1, 2, 4]

In [7]:
# Method 2
nums1 = [1,2,3,4]
nums1.remove(3)
nums1

[1, 2, 4]

In [8]:
# Method 3
nums2 = [1,2,3,4]
del nums2[2]
nums2

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [9]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [10]:
lst.insert(2,"two-and-half")
lst

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [11]:
# CODE HERE
phrase = "Don't panic!"
x=[]
for a in phrase:
    x.append(a)
x

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [12]:
x.remove("'")
x
x.pop()
x

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [16]:
# CODE HERE
y=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
for  b in y:
    if b=="p":
        y.remove(b)
        y.append(b)
    elif b=="a":
         y.remove(b)
         y.append(b)
    elif b=="n":
         y.remove(b)
         y.append(b)
    elif b=="D":
         y.remove(b)
         y.append(b)
    break
print(y)

['o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [17]:
# CODE HERE
z=['p', 'a', 'n', 'D', 'a']
"".join(z)

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [18]:
# CODE HERE
x=(31,24,35,85)
x

(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [19]:
# CODE HERE
b=list(x)
b.remove(35)
b

[31, 24, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [20]:
# CODE HERE
b.extend([85,19])
b

[31, 24, 85, 85, 19]

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [21]:
# CODE HERE
tpl =('i','n''n','0')
if 'i' in tpl:
    print("True")

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [22]:
# CODE HERE
list1 = ['Hello',100,[],'innomatics']
list1[2].insert(0,200)
list1

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [6]:
# CODE HERE
tpl = ("Innomatics")

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [9]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [23]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
for i in tpl:
    a.append(i+(100,))
a

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [24]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
a=[]
for i in tpl:
    a.append(i+(100,))
a

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [25]:
# CODE HERE
a="523665"
b=list(set(a))
b.sort()
b[-2]

'5'

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [1]:
# CODE HERE

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [2]:
a=(1,2,3,4,5,6,7,8,9,10)
print(a[:5],(a[5:]))

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [3]:
x=(1,2,3,4,5,6,7,8,9,10)
y=[]
for a in x:
    if a%2==0:
        y.append(a)
tuple(y)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
## 1) lists are mutable while tuple are immutable.
## 2) lists can be represented as "l1[]" while tuple can be represented as "t1()"
## 3) lists can be altered while tuple can't be altered.

### 2. Explain the difference between append() and extend() with examples

In [7]:
# Solution
## .append() adds a single element to the end of the list while .extend() can add multiple individual elements to the end of the list.
## ex: 
a=["a","bdc",22.5,88]
a.append("john")
print(a)
a.extend(["python","java",99,60.5])
print(a)

['a', 'bdc', 22.5, 88, 'john']
['a', 'bdc', 22.5, 88, 'john', 'python', 'java', 99, 60.5]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)